# Compiled class file
*.class
*.jar

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

##############################
## Gradle
##############################
bin/
build/
.gradle

##############################
## IntelliJ
##############################
out/
.idea/
*.iml

##############################
## OS X
##############################
.DS_Store